*/db/
*/incremental_db/
*/simulation/
*/greybox_tmp/
incremental_db/
db/
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*.txt
*.bak
*.cmp
*.done
*.xml
*.bat

