*/db/
*/incremental_db/
*/simulation/
*/greybox_tmp/
incremental_db/
db/
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.txt
*.bak
*.cmp
*.done
*.xml
*.bat

src/NeoGeo Cart/pll_cfg_sim/aldec/rivierapro_setup.tcl
src/NeoGeo Cart/pll_cfg_sim/mentor/msim_setup.tcl
src/NeoGeo Cart/pll_cram_sim/aldec/rivierapro_setup.tcl
src/NeoGeo Cart/pll_cram_sim/mentor/msim_setup.tcl
src/NeoGeo Cart/pll_sdram_sim/aldec/rivierapro_setup.tcl
src/NeoGeo Cart/pll_sdram_sim/mentor/msim_setup.tcl
src/NeoGeo Cart/pll_video_sim/aldec/rivierapro_setup.tcl
src/NeoGeo Cart/pll_video_sim/mentor/msim_setup.tcl
